<ion-view view-title="API dos Correios">
	<ion-content>
		<form ng-submit="consultarCep()">
			<div class="list list-inset">
	  			<label class="item item-input">
	    			<input type="text" ng-model="dados.cep" placeholder="Insira o CEP aqui">
	  			</label>
	  			<button type="submit" class="button button-block button-positive">
	  				Consultar CEP
				</button>
			</div> <!--Fim div-->
		</form>

		<ul class="list" id="lista">
			<li class="item">
				CEP informado: {{info.cep}}
			</li>
			<li class="item">
				Tipo(Rua/Av): {{info.tipo}}
			</li>
			<li class="item">
				Rua/Av: {{info.logradouro}}
			</li>
			<li class="item">
				Bairro: {{info.bairro}}
			</li>
			<li class="item">
				Cidade: {{info.cidade}}
			</li>
			<li class="item">
				Estado: {{info.estado}}
			</li>
		</ul>
  		
	</ion-content>
</ion-view>